.about_wrapper {
  width: 100%;
  min-height: 100vh;
  .about {
    width: 100%;
    &__text {
      padding: 10rem 2rem;
    }
    .about__img {
      position: relative;
      width: 90%;
      aspect-ratio: 16/9;
      margin: 0 auto;
      z-index: -1;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
